* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.controls {
    background: rgb(100, 100, 100);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
}

body { 
    background: black;
    height: 100%;
    width: 100%;
}

.content-div {
    padding: 15px;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background: white;
    margin: auto;
    position: relative;

}

#img-upload{
}

.red {
    background: red;
}

.control-button {
    height: 65px;
    width: 65px;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(0, 183, 255);
    cursor: pointer;
    font-weight: bold;
    background: black;
    font-family: arial;

}

.ele-div {
    height: 70px;
    width: 500px;
    position: absolute;
}

h1 { 
    text-align: center;
}

h3 { 
    text-align: center;
}

image {
    position: absolute;
}

.absolute {
    position: absolute;
}


.delete-btn {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 191;
}

.arrow-wrapper {
    width:80px;
    position: absolute;
    z-index: 11;
}

.arrow {
    width: 80px;
    position: absolute;
    z-index: 11;

}

.text-box {
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
}

.box {
    height: 200px;
    width: 300px;
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box input {
    display: block;
    background: red;
    width: 150px;
    height: 100px;
}

.box button {
    display: block;
    padding: 7px;
    border-radius: 4px;
    margin: auto;
}

.hide {
    display: none;
}

.hide-box-border {
    border: none;
}

.upload-img {
    width: 50px;
    height: 50px;
    background: blue;
    position: absolute;
    right: 300px;
    border-radius: 5px;
}

input {
    height: 50px;
    width: 50px;
    background: black;
    color: white;
}

.custom-file-upload {
}

input[type="file"] {
    display: none;
}

.input-text-area {
    height: 130px;
    width: 250px;
    border: 2px solid black;
    
}

.custom-file-upload {
    height: 50px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid black;
    color: rgb(0, 183, 255);
    background: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.control-button:hover {
    background: rgb(100, 100, 100);
}

.dbl-indent-para {
    padding-left: 100px;
}

.indent-para {
    padding-left: 50px;
}

.submit-btn {
    background: black;
    color: white;
}

.submit-field {
    padding-top: 10px;
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

textarea {
    outline: none;
}


.submit-field form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.submit-field form textarea {
    width: 400px;
    height: 80px;
    border: 1px solid black;
}

.submit-field input {
    display: block;
}

.submit-field button {
    display: block;
    padding: 5px;
    border-radius: 4px;
}

.img_wrapper .delete-btn {
    position: absolute;
    top: -100px;
}

.text-box-font-size {
    font-size: 11px;
}