* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.controls {
    background: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body { 
    background: green;
    height: 100%;
    width: 100%;
}

.content-div {
    width: 800px;
    height: 600px;
    background: white;
    margin: auto;

}

.control-button {
    height: 30px;
    width: 30px;
}

.ele-div {
    height: 70px;
    width: 400px;
    background: red;
    text-align: center;
}

image {
    position: absolute;
}

.absolute {
    position: absolute;
}

.delete-btn {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}