* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.controls {
    background: rgb(68, 68, 68);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body { 
    background: black;
    height: 100%;
    width: 100%;
}

.content-div {
    width: 800px;
    height: 600px;
    background: white;
    margin: auto;
    position: relative;

}

.control-button {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background: blue;
    color: yellow;
    cursor: pointer;
}

.ele-div {
    height: 70px;
    width: 500px;
    position: absolute;
}

h1 { 
    text-align: center;
}

image {
    position: absolute;
}

.absolute {
    position: absolute;
}

.delete-btn {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 191;
}

.arrow-wrapper {
    width:80px;
    position: absolute;
}

.arrow {
    width: 80px;
    position: absolute;
}

.text-box {
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: absolute;
}

.box {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    position: absolute;
}

.hide {
    display: none;
}